<!DOCTYPE html>
<html>
<head>
    <title>Presentation Template</title>
    <style type="text/css"></style>
</head>
<body>

    <div style="background-color:#5f6062; color: #f5f5f5; width: 60%">
        <form>
            <h3 style="font-family: 'source sans pro light'">API Endpoint</h3>
            <input type="text" name="endpoint" style="border:thin solid #71e4ff; background-color:#5f6062">
            <h3>Method</h3>
            <input type="text" name="method" style="border:thin solid #71e4ff; background-color:#5f6062">
            <div>
                <h3>Request</h3>
                <input type="textarea" name="request" style="border:thin solid #71e4ff; background-color:#5f6062; width: 40%">
            </div>
            <div>
                <h3>Response</h3>
                <input type="textarea" name="response" style="border:thin solid #71e4ff; background-color:#5f6062; width: 40%">
            </div>

        </form>

    </div>

</body>
</html>