<!DOCTYPE html>
<html>
<head>
    <title>Presentation Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Abel|Oswald" rel="stylesheet">
</head>
<body>


<div class="container">
    <a class="button" href="{{ url_for('ping_view') }}">ping</a>
    <a class="button" href="{{ url_for('create_view') }}">create</a>
    <a class="button" href="{{ url_for('commit_view') }}">commit</a>
</div>
<div class="container">

    <div class="container">
        {{ form.hidden_tag() }}
        <form action="" method="post" name="commit_call">
            <p>{{ form.submit() }}</p>
        </form>
    </div>

    <div class="container">
        <h3>Response</h3>
        <textarea rows='20' cols='60'>
            {{ response }}
        </textarea>
    </div>
</div>

</body>
</html>

